.orange-text {
    color: #FF7400;
  }
  
  .FooterList ul {
    margin-bottom: 10px; /* add some margin between list items */
  }
  
  .FooterList li {
    margin-bottom: 10px; /* add some margin between list items */
  }